<% if flash.any? %>
  <div class="flash-message container mt-2">
    <% flash.each do |key, message| %>
      <p class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>"><%= message %></p>
    <% end %>
  </div>
<% end %>
