<div class="list-group">
  <%= link_to "商品管理", admins_products_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "ユーザー管理", admins_products_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "アドミン", admins_products_path, class: "list-group-item list-group-item-action" %>
</div>
